{
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": ["*.css"],
      "options": {
        "tabWidth": 4,
        "useTabs": false
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
